<div class="imagen">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal%20peque%C3%B1o.png?alt=media&token=59a16c73-3229-4ba7-81be-567aae799d61"
    height="60" width="200" style="margin-left: 10%; margin-top: 1%;">
</div>
<!--FORMULARIO-->

<body class="elemento" ba>
  <div class="card">
    <h1>Perfil</h1>
    <div class="content">
      <form style="text-align:center ;" ngNativeValidate class="row gy-2 gx-3 align-items-center"
        (ngSubmit)="actualizarUsuario(persona)">

        <div class="input-box">
          <span class="details">Cédula:</span>
          <input type="number" class="form-control text-center" [(ngModel)]="persona.cedula" placeholder="Ingrese un numero de cedula" name="cedula" readonly required>
        </div>

        <div class="input-box">
          <span class="details">Nombres:</span>
          <input type="text" o class="form-control text-center" [(ngModel)]="persona.nombres" placeholder="Aqui apareceran sus datos" name="nombre" readonly required>
        </div>

        <div class="input-box">
          <span class="details">Celular:</span>
          <input type="number" class="form-control text-center" [(ngModel)]="persona.celular" placeholder="Aqui apareceran sus datos" name="celular" required>
        </div>
        <div class="input-box">
          <span class="details">Email:</span>
          <input type="email" class="form-control text-center" [(ngModel)]="persona.correo" placeholder="Aqui apareceran sus datos" name="correo" required>
        </div>

        <button  type="submit"> Modificar</button>
      </form>
    </div>
  </div>
</body>