<div class="imagen">
  <img
    src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal%20peque%C3%B1o.png?alt=media&token=59a16c73-3229-4ba7-81be-567aae799d61"
    height="60" width="200" style="margin-left: 10%; margin-top: 1%;">
</div>


<body class="elemento">
  <div class="card">
    <h1>Lista de bibliotecarios</h1>
    <div class="buscar">
      <form class="d-flex buscar" role="search">
        <input class="form-control me-2" (keyup)="onKeydownEvent($event, buscaer.value)" #buscaer type="search"
          placeholder="Buscar por cédula" aria-label="Buscar" style="background-color: #e5e7e8; border-color: #2E2F5E;">
        <button (click)="buscar(buscaer.value)" style="background-color: transparent;" class="btn">
          <img
            src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fbusqueda.png?alt=media&token=2b59078d-0ef5-4fa4-85c6-396ea7c1c97c">
        </button>
      </form>
    </div>
    <div class="contenedor">
      <table class="table">
        <thead class="text-center cabezera">
          <tr>
            <th>Cédula</th>
            <th>Nombre</th>
            <th>Rol</th>
            <th>Estado</th>
            <th>Acciones</th>
          </tr>

        </thead>
        <tbody class="text-center" *ngIf=bus>
          <tr *ngFor="let bibliotecario of bibliotecarios">
            <td #cedula>{{bibliotecario.cedula}}</td>
            <td #cedula>{{bibliotecario.nombres}}</td>
            <td #rol *ngIf="bibliotecario.tipo==4 else menor">Administrador</td>
            <ng-template #menor>
              <td *ngIf="bibliotecario.tipo==3">Bibliotecario</td>
            </ng-template>
            <td #activo *ngIf="bibliotecario.activo else mm">Activo</td>
            <ng-template #mm>
              <p>Inactivo</p>
            </ng-template>
            <td class="td1"><button>Modificar</button></td>
          </tr>
        </tbody>

        <tbody class="text-center" *ngIf="buscarval">
          <!--
          <tr id="">
            <td><input class="form-check-input" type="checkbox" role="switch"></td>
            <td>{{bibli.persona?.cedula}}</td>
            <td #cedula>{{bibli.persona?.nombres}}</td>
            <td *ngIf="bibli.persona?.rol==0 else menor">Administrador</td>
            <ng-template #menor>
              <p>Bibliotecario</p>
            </ng-template>
            <td>{{bibli.fecha_inicio}}</td>
            <td>{{bibli.fecha_fin| date:'shortDate'}}</td>
            <td *ngIf="bibli.activo_bibliotecario else mm">Activo</td>
            <ng-template #mm>
              <p>Inactivo</p>
            </ng-template>
          </tr>-->
        </tbody>
      </table>
    </div>
  </div>
</body>