<div class="imagen">
    <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal%20peque%C3%B1o.png?alt=media&token=59a16c73-3229-4ba7-81be-567aae799d61"
        height="60" width="200" style="margin-left: 10%; margin-top: 3%;">
</div>

<body>
    <aside>
    <div class="card">
        <h1>Reporte de sugerencias por ciclo</h1>
        <div class="contenedor">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cedula</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Carrera</th>
                        <th scope="col">Descripcion</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sugerencia of sugerencias" >
                        <td>{{ sugerencia.persona?.cedula}}</td>
                        <td>{{ sugerencia.fecha}}</td>
                        <td>{{ sugerencia.carrera?.nombre}}</td>
                        <td>{{ sugerencia.descripcion}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        

    </div>
</aside>
<main>
    <article>
        <form action=""></form>
    </article>
</main>
</body>