<header>
    <h4 class="text-center"><strong></strong><br></h4>
</header>
<!--HOLIIIIIIIIIIIIIIIIIIIIIIIIIII-->
<div class="imagen">
    <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/logos%2Flogo%20normal%20peque%C3%B1o.png?alt=media&token=59a16c73-3229-4ba7-81be-567aae799d61"
        height="80" width="350">
</div>
<!--FORMULARIO-->

<body class="elemento" >
    <div class="container" >
        <div class="title">Registro de Libros</div>
        <div class="content">
            <form [formGroup]="librosF" (ngSubmit)="crearLibro()" >
                <div class="step-counter">
                    Paso {{ step }} de {{ totalSteps }} 
                <div class="user-details" *ngIf="step === 1">
                    <div class="input-box">
                        <span class="details">Codigo DEWEY:</span>
                        <input type="text" class="form-control" name="codigo-DEWEY" formControlName="codigoDewey" 
                            required>
                    </div>
                    <div class="input-box">
                        <span class="details">Codigo ISBM:</span>
                        <input type="text" class="form-control" name="codigo-ISBN" formControlName="conIsbn"
                            required>
                    </div>
                </div>

                <div class="user-details" *ngIf="step === 2">
                    <div class="input-box">
                        <span class="details">Titulo del Libro:</span>
                        <input type="text"  class="form-control" name="titulo-Libro"
                            formControlName="titulo" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Subtitulo del Libro:</span>
                        <input type="text"  class="form-control" name="subtitulo-Libro"
                            formControlName="subtitulo" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Indice 1:</span>
                        <input type="text" class="form-control" name="indice1" formControlName="indiceUno" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Indice 2:</span>
                        <input type="text" class="form-control" name="indice2" formControlName="indiceDos"  required>
                    </div>
                    <div class="input-box">
                        <span class="details">Indice 3:</span>
                        <input type="text" class="form-control" name="indice3" formControlName="indiceTres"  required>
                    </div>
                </div>

                <div class="user-details" *ngIf="step === 3">
                    <div class="input-box">
                        <span class="details">Adquisicion del Libro:</span>
                        <input type="text" class="form-control" name="adquisicion-libro" formControlName="adquisicion"
                       required>
                    </div>
                    <div class="input-box">
                        <span class="details">Descripción:</span>
                        <input type="text" class="form-control"  name="descripcion"
                        formControlName="descripcion" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Dimensiones:</span>
                        <input type="text" class="form-control" name="dimenciones" formControlName="dimenciones"
                        pattern="[0-9]{2,3}x[0-9]{2,3}" maxlength="6" required>
                         <div *ngIf="dimenciones?.invalid && (dimenciones?.dirty || dimenciones?.touched)">
                            <div *ngIf="dimenciones?.hasError('required')"  class="error-message">El campo es obligatorio.</div>
                            <div *ngIf="dimenciones?.hasError('pattern')"  class="error-message">El formato debe ser "000x000".</div>
                          </div>
                    </div>
                    <div class="input-box">
                        <span class="details">N° de Paginas:</span>
                        <input type="number" class="form-control"  name="num-Paginas"
                            formControlName="numPaginas"  required>
                    </div>
                    <div class="input-box">
                        <span class="details">Idioma:</span>
                        <input type="text" class="form-control" name="idioma" formControlName="idioma"
                        pattern="[a-zA-Z]+" required>
                        <div *ngIf="idiomaControl?.invalid && (idiomaControl?.dirty || idiomaControl?.touched)">
                            <div *ngIf="idiomaControl?.hasError('required')" class="error-message">El campo es obligatorio.</div>
                            <div *ngIf="idiomaControl?.hasError('pattern')"  class="error-message">Solo se permiten letras mayúsculas y minúsculas.</div>
                          </div>
                    </div>
                    <div class="input-box">
                        <span class="details">Estado:</span>
                        <select class="form-select" id="estadoLibro" formControlName="estadoLibro">
                            <option selected disabled value="">Selecciona una opción</option>
                            <option value="1">Bueno</option>
                            <option value="2">Regular</option>
                            <option value="3">Malo</option>
                          </select>
                    </div>

                </div>

                <div class="user-details" *ngIf="step === 4">
                    <!--     DESDE AQUIIIIIIIIIII           -->
                    
                    <div class="input-box">
                        <span class="details">Editor:</span>
                        <input type="text"  class="form-control" name="editor" formControlName="editor"
                        required>
                    </div>
                    <div class="input-box">
                        <span class="details">Area:</span>
                        <input type="text" class="form-control" name="area" formControlName="area"
                         required>
                    </div>
                    <div class="input-box">
                        <span class="details">Año de Publicación:</span>
                        <input type="number" class="form-control"  name="año-Publicacion"
                            formControlName="anioPublicacion"  required  max="9999">
                            
                            <div *ngIf="anioPublicacionControl?.invalid && (anioPublicacionControl?.dirty || anioPublicacionControl?.touched)">
                                <div *ngIf="anioPublicacionControl?.hasError('required')" class="error-message">El campo es obligatorio.</div>
                                <div *ngIf="anioPublicacionControl?.hasError('max')" class="error-message">El año puede tener un max de 4 numeros.</div>
                              </div>
                    </div>
                   
                    <!-- <div class="input-box">
                        <span class="details">Tipo:</span>
                        <select  formControlName="tipo" name="TipoSelect" (change)="seleccionT($event)"
                            class="form-select" aria-label="Default select example">
                            <option selected disabled value="0">Seleccione</option>
                            <option #TSelect *ngFor="let tipo of Tipoe" value="{{tipo.id}}">{{tipo.nombre}}
                            </option>
                        </select>
                    </div> -->

                </div>


                <div class="user-details" *ngIf="step === 5">

                    <!--REGISTRO AUTOR-->

                    <div class="imput-box">
                        <div class="col" style="margin-left:40% ;">
                            <button class="btn " style="background-color:transparent">
                                <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fagregar_autor-tipo-donante.png?alt=media&token=4f1e982c-c8a5-496a-80d2-33d6fe7a9d33"
                                    width=25 height=25>
                                Agregar Autor</button>
                        </div>
                        <div class="row mb">
                            <label for="Autor" class="col-sm col-form-label">
                                <span class="details">Nombre del Autor:</span>
                            </label>
                            <div class="col-sm-8" style="margin-right: 2%; margin-top: 2%;">
                               <ng-autocomplete [data]="dato | async" [searchKeyword]="keyword"
                                    [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate"
                                    placeholder="Ingrese el nombre del autor" >
                                </ng-autocomplete> 
                                <ng-template #itemTemplate let-item>
                                    <a [innerHTML]="item.nombre"></a>
                                </ng-template>
                                <ng-template #notFoundTemplate let-notFound>
                                    <div [innerHTML]="notFound"></div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <!--FIN REGISTRO AUTOR-->

                    <!--REGISTRO TIPO DE Tipo-->

                    <div class="imput-box">
                        <div class="col" style="margin-left:40% ;">
                            <button class="btn " style="background-color:transparent">
                                <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fagregar_autor-tipo-donante.png?alt=media&token=4f1e982c-c8a5-496a-80d2-33d6fe7a9d33"
                                    width=25 height=25>
                                Agregar Tipo</button>
                        </div>
                        <div class="row mb" style="align-content: center;">
                            <span class="details">Tipo:</span>
                        <select   name="TipoSelect" (change)="seleccionT($event)"
                            class="form-select" aria-label="Default select example">
                            <option selected disabled value="0">Seleccione</option>
                            <option #TSelect *ngFor="let tipo of Tipoe" value="{{tipo.nombre}}">{{tipo.nombre}}
                            </option>
                        </select>
                        </div>
                    </div>
                    <!--FIN REGISTRO TIPO-->

                </div>


                <div class="user-details" *ngIf="step === 6">

                    <!--SUBIR FOTO-->
                    <div class="input-box" style="align-content: center;">
                        <span class="details">Imagen:</span>
                        <div *ngIf="previsualizacion" style="align-content: center;">
                            <img width="230px" [src]="previsualizacion" alt="">
                        </div>
                        <label id="boton">
                            <i> <img
                                    src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fagregar%20libro.png?alt=media&token=b7f639da-1aaa-4d12-8133-a59742d32d87"></i>
                        </label>
                        <input id="subir" accept="image/*" formControlName="urlImagen" (change)="capturarImagen($event)" 
                        type="file" name="Image">
                    </div>
                    <!--FIN SUBIR FOTO-->

                </div>


                <div class="user-details" *ngIf="step === 7">
                    <div class="input-box">
                        <span class="details">Bibliotecario que registra:</span>
                        <input type="text" disabled="true" value=""
                            class="form-control" name="bibliotecario" [value]="nombrebiblio" required>
                    </div>
                    <div class="input-box">
                        <span class="details">Fecha de Creación:</span>
                        <input type="date" class="form-control" name="fecha-Creacion" formControlName="fechaCreacion"
                         required>
                    </div>
                    <div class="input-box">
                        <span class="details">URL Digital:</span>
                        <input type="text" class="form-control" name="url" formControlName="urlDigital" 
                       required>
                        <div *ngIf="urlDigitalControl?.invalid && (urlDigitalControl?.dirty || urlDigitalControl?.touched)">
                            <div *ngIf="urlDigitalControl?.hasError('required')" class="error-message">El campo es obligatorio.</div>
                            <div *ngIf="urlDigitalControl?.hasError('pattern')" class="error-message">Por favor, ingrese una URL válida.</div>
                          </div>
                    </div>
                    <div class="input-box">
                        <span class="details">Ciudad:</span>
                        <input type="text" class="form-control" name="ciudad" formControlName="ciudad" required>
                    </div>

                </div>


                <div class="user-details" *ngIf="step === 8">




                    <!--REGISTRAR DONANTE-->
                    <div class="input-box">
                        <!-- <div class="col" style="margin-left:10% ;">
                            <button class="btn " style="background-color:transparent">
                                <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fsubir%20acta.png?alt=media&token=654756c8-f9ef-46fc-a2df-c740f8e75c45"
                                    width=25 height=25>
                                Subir Acta</button>
                            <input (change)="capturarArchivo($event)" type="file" id="subir" name="PDF">

                        </div> -->
                        <br>

                        <div class="input-box">
                                <span class="details">Nombre Donante:</span>
                                <input type="text" class="form-control" name="donante"
                                        formControlName="nombreDonante" required rigth>
                            </div>

                    </div>
                    <!--FIN REGISTRAR DONANTE-->

                    <div class="input-box">
                        <span class="details">Disponibilidad:</span>
                        <div class="form-group">
                          <select class="form-select" name="disponibilidad" formControlName="disponibilidad" required>
                            <option  value="0" selected disabled   [selected]="librosF.controls['disponibilidad'].value === '0'">Seleccione</option>
                            <option value="true">Disponible</option>
                            <option value="false">No Disponible</option>
                          </select>
                        </div>
                      </div>
                      
                      
                      
                    

                </div>
                
            </div>

                <div class="button text-center">
                    <button type="button" class="btn btn-outline-secondary btn-lg mx-3" (click)="retroceder1()"
                        *ngIf="step > 1">
                        <i class="fas fa-arrow-left"></i> Retroceder
                    </button>
                    <button type="button" class="btn btn-outline-primary btn-lg mx-3" (click)="avanzar1()"
                        *ngIf="step < 8">
                        Siguiente <i class="fas fa-arrow-right"></i>
                    </button>
                    <button type="submit" class="btn btn-outline-success btn-lg mx-3"  [disabled]="librosF.invalid" *ngIf="step === 8">
                        Guardar libro <i class="fas fa-paper-plane">
                            <img src="https://firebasestorage.googleapis.com/v0/b/istateca.appspot.com/o/Iconos%2Fagregar%20libro.png?alt=media&token=b7f639da-1aaa-4d12-8133-a59742d32d87"
                            width=25 height=25 align="center"></i>
                    </button>

                    
                </div>


            </form>
            
        </div>
    </div>

    <!-- <pre>
        {{librosF.value |  json}}
    </pre> -->

</body>
